@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    background: #000;
}

h1,h2,h3,h4,h5,p, a{
    color: #fff;
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.btn-light{
    background: transparent;
    color: #fff;
    }
    
    .btn:hover{
        background: rgba(255,255,255,0.2);
        color: #fff;
        transition: 0.3s;
    }
    